
body {
    font-family: arial;
    font-size: 20px;
}

#menu ul{
    float:right;
    margin-right: 150px;
}
#menu a {
    float: left;
    margin-left: 50px;
    height: 60px;
}
ul li {
    list-style: none;
}
#main_menu li {
    text-decoration: none;
    display: inline-block;
    color: #000080;   
}
#main_menu li a {
    text-decoration: none;
}

#menu a img {
    height: 100%;
    width: auto;
}
body {
    min-height: 1300px;

}
div#footer {
    background-image: url(../image/footer-background.png);
    background-repeat: repeat;
    min-height:80px;
    width:100%;
    position: fixed;
    bottom:0;
    right:0;  
}
div#footer div#contact_logo{
  align:center;

}
#contact_logo ul{
    margin:auto;
    margin-top:-30px;
    list-style-type:none;
    text-align:center;

}
#contact_logo ul li{
    display:inline-block;
    margin: 0 10px;
}
#contact_logo ul img{
    width:60px;
    height:60px;
    border-radius:22%;
}